* {
  box-sizing: border-box;
}

:root {
  --main-color: #000958;
  --main-bg: #e5e5e5;
  --btn-color: #ff5b2e;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: var(--main-bg);
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

/* Common ================*/

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1169px;
  margin: 0 auto;
}

.btn {
  --height: 56px;
  display: inline-block;
  min-width: 189px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: var(--height);
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 31px;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
}

.logo-name {
  margin-left: 10px;
  font-family: "Sora", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--main-color);
}

/* Header ================*/
.header {
  background: #c6e2fa;
  min-height: 52px;
  padding: 26px 0;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav .nav-list {
  display: flex;
  align-items: center;
  gap: 36px;
}

.header-nav .nav-link {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  color: #5e6085;
  transition: 0.25s;
}

.header-nav .nav-link.active {
  font-weight: 600;
  color: var(--main-color);
}

.header-nav__btn {
  display: inline-block;
  padding: 18px 32px;
  border: 1px solid var(--main-color);
  border-radius: 25px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  text-align: center;
  color: var(--main-color);
}

/* Hero ================*/
.hero {
  background: #5bd6e2;
  padding: 100px 0;
}

.hero .container {
  display: flex;
  align-items: center;
  gap: calc(120px + 163px);
}

.hero-images {
  position: relative;
  max-width: 52%;
}

.hero-image--large {
  width: 388px;
  height: 488px;
  background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
  border: 3px solid #ffffff;
  box-shadow: 11px 18px 65px rgba(255, 155, 121, 0.12);
  border-radius: 16px;
}

.hero-image-small {
  position: absolute;
  top: 302px;
  left: 365px;
  width: 186px;
  height: 244px;
  background: linear-gradient(205.64deg, #faa7ad 4.68%, #e87f8a 98.09%);
  border: 2px solid rgba(255, 255, 255, 0.65);
  box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
  border-radius: 16px;
}

.hero-img {
  width: 100%;
  height: 100%;
}

.hero-img.dog {
  height: 220px;
  position: absolute;
  top: 24px;
}

.hero-decorations {
}

.hero .decor-one {
  position: absolute;
  top: 16px;
  right: -40px;
  z-index: -1;
}

.hero .decore-two {
  position: absolute;
  bottom: 10px;
  left: -58px;
  z-index: -1;
}

/* Hero box */

.hero-box {
  position: absolute;
  top: 426px;
  left: 129px;
  display: inline-block;
  padding: 18px 14px;
  width: 250px;
  height: 156px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 10px;
}

.hero-box .box-item {
  display: flex;
  align-items: flex-start;
}

.hero-box .box-img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.hero-box .box-img.health {
  background: #fec23f;
}

.hero-box .box-img.care {
  background: #c6e2fa;
}

.hero-box .img {
  width: 100%;
  height: 100%;
}

.hero-box .box-content {
  margin-left: 10px;
}

.hero-box .box-content .name {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #181e52;
}

.hero-box .content {
  margin-top: 7px;
  width: 118px;
  height: 4px;
  background: #000958;
  opacity: 0.08;
  border-radius: 10px;
}

.hero-box .content + .content {
  margin-top: 6px;
  width: 39px;
}

.hero-box .border {
  margin: 20px 0;
  width: 222px;
  height: 0px;
  border: 2px solid #f2f2f2;
}

/* Hero content */
.hero-content {
}

.hero-heading {
  font-weight: 800;
  font-size: 6.6rem;
  line-height: 1.15;
  color: #000958;
}

.hero-desc {
  margin-top: 24px;
  max-width: 391px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #656689;
}

.hero-book {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero-book .book-act {
  --height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 189px;
  background: #ff5b2e;
}

.hero-book .text {
}

.hero-book .circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: #fffaf5;
  box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
  border-radius: 90%;
}

.hero-book .act {
  color: #fd5056;
}

.hero-book .time-book {
  margin-left: 24px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
  text-decoration-line: underline;
  color: #000958;
}

/* About ================*/
.about {
  background: yellow;
  margin-top: 77px;
  padding-top: 61px;
}

.about .container {
  display: flex;
  align-items: center;
  gap: 223px;
}

.about-heading {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.19;
  color: #000958;
}

.about-desc {
  margin-top: 24px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #656689;
}

.about-row {
  margin-top: 57px;
  display: flex;
  align-items: center;
  gap: 62px;
}

.about-row + .about-row {
  margin-top: 37px;
  gap: 36px;
}

.about-item {
  display: flex;
  align-items: center;
}

.about-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: #ff5d31;
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
  border-radius: 4px;
}

.about-name {
  margin-left: 10px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
}

/* About images */
.about-images {
  position: relative;
}

.about-img {
  display: block;
  width: 450px;
  height: 551px;
  object-fit: cover;
}

.about-behind {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 494px;
  height: 336px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  border-radius: 16px;
}

.about-box {
  position: absolute;
  top: 165px;
  left: -92px;
  padding: 31px 26px 29px;
  width: 136px;
  height: 156px;
  text-align: center;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
  border-radius: 10px;
}

.about-box .number {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1;
  color: #ffffff;
}

.about-box .text {
  display: inline-block;
  margin-top: 14px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.43;
  color: #c6f4f9;
}

.about-box__img {
  position: absolute;
  top: -26%;
  right: -25%;
}

.about-image__union {
  position: absolute;
  top: 149px;
  left: 411px;
  z-index: -2;
}

/* Features ================*/
.features {
  margin-top: 77px;
  padding: 24px 0 57px;
  background: wheat;
}

.features .container {
  display: flex;
  align-items: center;
  gap: calc(85px + 42px);
}

.feature-images {
  position: relative;
  flex-shrink: 0;
  width: 458px;
  height: 500px;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  border: 2px solid #ffffff;
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
  filter: drop-shadow(0px 3px 63px rgba(153, 183, 208, 0.4));

  border-radius: 18px;
}

.feature-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature-decor img {
  position: absolute;
}

.feature-decor img:nth-child(1) {
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
}

.feature-decor img:nth-child(2) {
  top: 33px;
  right: -24px;
}

.feature-decor img:nth-child(3) {
  top: -20px;
  right: 13px;
}

.feature-decor img:nth-child(4) {
  top: 13px;
  right: 64px;
}

.feature-decor img:nth-child(5) {
  top: 435px;
  left: 377px;
}

.feature-decor img:nth-child(6) {
  top: 443px;
  left: 386px;
}

.feature-decor img:nth-child(7) {
  top: 447px;
  left: 392px;
}

.feature-decor img:last-child {
  bottom: 150px;
  right: 19px;
}

/* Feature content */

.feature-content {
  flex-shrink: 0;
}

.feature-heading {
  max-width: 543px;
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.19;
  color: #000958;
}

.feature-desc {
  margin-top: 24px;
  max-width: 511px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #656689;
}

.feature-vacation {
  margin-top: 52px;
  margin-left: -8px;
}

.feature-list {
  display: flex;
  align-items: center;
  gap: 56px;
  padding-bottom: 11px;
  position: relative;
}

.feature-list::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: inline-block;
  width: 100%;
  height: 0px;
  opacity: 0.1;
  border: 2px solid #ff5b2e;
}

.feature-border {
  position: absolute;
  bottom: 0;
  width: 95px;
  height: 0px;
  border: 2px solid #ff5b2e;
  transform: translateX(0);
  transition: 0.8s;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 11px;
  transition: 0.3s;
  cursor: default;
}

.feature-item:nth-child(2) img {
  transform: translateY(5px);
}

.feature-item .name {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
}

.feature-item:hover {
  transform: translateY(-10px);
  cursor: default;
}

.feature-item:nth-child(2):hover ~ .feature-border {
  transform: translateX(230px);
}

.feature-item:nth-child(3):hover ~ .feature-border {
  transform: translateX(434px);
}

.feature-desc:nth-of-type(2) {
  margin-top: 36px;
  max-width: 391px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #656689;
}

.feature-btn {
  display: inline-block;
  margin-top: 32px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  color: #ff5d31;
  position: relative;
}

.feature-btn::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 86px;
  height: 0px;
  border: 1.5px solid #ff5d31;
}
